<h1>Beer Gallery 
    <a class="btn btn-success" href="#/beer/create">Add <i class="glyphicon glyphicon-plus"></i></a> 
</h1>
<hr>
<div data-ng-repeat='beer in beerCtrl.beers'>
    <div class="col-sm-6 col-md-4 equal">
        <div class="thumbnail">
            <img height="300" width="300" data-ng-src="{{ beer.imagePath }}" alt="{{ beer.name }}">
            <div class="caption">
                <h3>{{ beer.name }}</h3>
                <p>{{ beer.detail }}</p>
                <p>Country: {{ beer.country.name }} / Abv: {{ beer.abv }}%</p>
                <p><a data-ng-href="#/beer/{{ beer.id }}" class="btn btn-primary" role="button">Edit</a></p>
            </div>
        </div>
    </div>

    <div class="clearfix" data-ng-if="($index + 1) % 3 === 0"></div>
</div>
